{% extends 'base.html' %}
{% block content_titlle %}预约完成{% endblock content_titlle %}
{% block content_content_content_width %}12{% endblock %}
{% block content_content_content %}
    以下是您的预约信息，请记好并在学导确认后准时出席

    <ul class="sortable-list connectList agile-list reserve_result">

        <li class="info-element">
            <h3>微信绑定</h3>
            <div class="row">
                <div class="col-xs-12">为了保证您可以收到预约状态的通知，请绑定您的微信。</div>
                <div class="col-xs-12">注：此处绑定和辅导员有约平台不互通</div>
            </div>
            <div class="agile-detail">
                <a href="{% url 'wechat:bind' %}" class="pull-left btn btn-sm btn-success">绑定微信</a>
                <br><br>
            </div>
        </li>

        <li class="info-element">
            <h3>被预约人信息</h3>
            <div class="row">
                <div class="col-xs-12"><b>姓名</b></div>
                <div class="col-xs-12">{{ rr.main_time.reservee.name }}</div>
            </div>

            <div class="row">
                <div class="col-xs-12"><b>联系方式</b></div>
                <div class="col-xs-12">电子邮件 - {{ rr.main_time.reservee.email }}
                    <br>电话号码 - {{ rr.main_time.reservee.tel }}</div>
            </div>
            <h3>预约信息</h3>
            <div class="row">
                <div class="col-xs-12"><b>预约类别</b></div>
                <div class="col-xs-12">{{ rri.type }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12"><b>预约内容：</b></div>
                <div class="col-xs-12">{{ rr.content }}</div>
            </div>
            <h3>预约时间</h3>
            <div class="row">
                <div class="col-xs-12"><b>首选时间</b></div>
                <div class="col-xs-12"><i class="fa fa-clock-o"></i>
                    {% with rr.main_time as t %}{% include 'base/period.html' %}{% endwith %}</div>
            </div>
            {% if rri.extra_time %}
                <div class="row">
                    <div class="col-xs-12"><b>备选时间</b></div>
                    <div class="col-xs-12">
                        {% for t in rri.extra_time %}
                            <i class="fa fa-clock-o"></i> {% include 'base/period.html' %}<br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {#            <div class="agile-detail">#}
            {#                <a href="#" class="pull-right btn btn-xs btn-white">修改预约信息</a>#}
            {#                <br>#}
            {#            </div>#}
        </li>

    </ul>
{% endblock content_content_content %}
