{% extends 'base.html' %}
{% block head %}
    {% load static from staticfiles %}
    <link href="https://cdn.bootcss.com/iCheck/1.0.1/skins/square/green.css" rel="stylesheet">
{% endblock head %}
{% block content %}
    <div class="ibox float-e-margins col-sm-6">
        <div class="ibox-title">
            <h5>新预约
                <small>类别选择</small>
            </h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-8">

                    <form role="form" method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for k in form.non_field_errors %}
                                        <li>{{ k }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <h3 class="m-t-none m-b">请选择您要预约的人员种类</h3>
                        {% for choice in form.t %}
                            <div class="checkbox i-checks">
                                {{ choice }}
                            </div>
                        {% endfor %}

                        <h3 class="m-t-none m-b">请选择您要预约的内容种类</h3>
                        {% for choice in form.r %}
                            <div class="checkbox i-checks">
                                {{ choice }}
                            </div>
                        {% endfor %}


                        <div>
                            <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit">
                                <strong>下一步：填写预约内容</strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="https://cdn.bootcss.com/iCheck/1.0.1/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });
        });
    </script>
{% endblock js %}